*{
    padding: 0;
    margin: 0;
 }

.container {
    background: rgb(247, 132, 1);
    padding: 30px 40px;
    color: white;
    text-align: center;
}



.h2 {
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.logo {
    background-color: white;
    width: 50;
    height: 25;
    margin-right: 75px;
    margin-left: 75px;
    padding: 20px 0px;
}
.btn {
    width: 200px;
}
.alert {
    width: 350px;
    position: absolute;
    right: 0px;
    margin-top: -33px;
    transition:all .1s cubic-bezier(1, 0.06, 0, 1.01) .1s;
}